.slider-b {
	width: 475px;
	display: inline-block;

	&.ui-slider {
		height: 9px;
		border-radius: 10px;
		border: none;
		background: #e5e5e5;

		& .ui-slider-range {
			background: #4eb7a8;
			border-radius: 10px;
		}
	}

	& .ui-slider-handle {
		width: 34px;
		height: 34px;
		border-radius: 50%;
		top: -12px;
		border: none;
		background: #4eb7a8;

		&:nth-of-type(1) {
			display: none;
		}	
	} 
	
	& .ui-slider-pip {
		
		& .ui-slider-line {
			display: none;
		}

		& .ui-slider-label {
			top: 13px;
    		font-size: 24px;
			color: #d1d1d1;
			font-family: 'Conv_Lato-Black', sans-serif;
		}
	}

	& .ui-slider-handle {
		&:focus {
			outline: none;
		}
	}
	
}