.slider-b {
    width: 100%;
    display: inline-block;
    &.ui-slider {
        height: 0.5625rem;
        border-radius: 0.625rem;
        border: none;
        background: #e5e5e5;
        & .ui-slider-range {
            background: #4eb7a8;
            border-radius: 0.625rem;
        }
    }
    & .ui-slider-handle {
        width: 2.125rem;
        height: 2.125rem;
        border-radius: 50%;
        top: -0.75rem;
        border: none;
        background: #4eb7a8;

        &:nth-of-type(1) {
            display: none;
        }
    }
    & .ui-slider-pip {
        & .ui-slider-line {
            display: none;
        }
        & .ui-slider-label {
            top: 0.8125rem;
            font-size: 1.5rem;
            color: #d1d1d1;
            font-family: 'Lato', Arial, sans-serif;
            font-weight: 500;
            font-style: bold;
        }
    }
    & .ui-slider-handle {
        &:focus {
            outline: none;
        }
    }
}