mixin form
	form.form
		include ../alert-box/alert-box.pug
		include ../form-element/form-element.pug
		include ../button/button.pug
		.form-line
			+form-element("input","name","Your Name")
			+alert-box("error")
		.form-line
			+form-element("input","email","Your Email")
			+alert-box
		.form-line
			+form-element("textarea","message","Your Message")
		.form-line
			+button("submit","Submit")