doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width")
		title Main page
	body
		include ../blocks/button/button.pug
		include ../blocks/arrow-button/arrow-button.pug
		+button('Button')
		+arrow-button