doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width")
		title Main page
	body
		include ../blocks/circle-progress-bar-b/circle-progress-bar-b.pug
		+circle-progress-bar-b