include ../blocks/button/button.pug
include ../blocks/arrow-button/arrow-button.pug
include ../blocks/pie-chart/pie-chart.pug
include ../blocks/circle-progress-bar/circle-progress-bar.pug
include ../blocks/slider-a/slider-a.pug
include ../blocks/slider-b/slider-b.pug
include ../blocks/stages/stages.pug
include ../blocks/message-form/message-form.pug
include ../blocks/form-line/form-line.pug
include ../blocks/toggles/toggles.pug
include ../blocks/tick-box/tick-box.pug
include ../blocks/search/search.pug
include ../blocks/drop-down/drop-down.pug
include ../blocks/user-info-block/user-info-block.pug
include ../blocks/news/news.pug
include ../blocks/event/event.pug
include ../blocks/map-block/map-block.pug
include ../blocks/messaging/messaging.pug
include ../blocks/calendar/calendar.pug
include ../blocks/youtube-video/youtube-video.pug
-var data = require('./data.json')
doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="initial-scale=1, width=device-width")
        meta(name="description" content="UI KIT page")
        meta(name="keywords" content="ui, uikit")
        meta(name="author" content="Lamonov Maks")
        title UI KIT
        link(rel="apple-touch-icon" sizes="180x180" href="favicons/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="favicons/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="favicons/favicon-16x16.png")
        link(rel="manifest" href="favicons/manifest.json")
        link(rel="mask-icon" href="favicons/safari-pinned-tab.svg" color="#5bbad5")
        meta(name="theme-color" content="#ffffff")
        script(src="https://www.youtube.com/iframe_api")
        link(rel="stylesheet" href="main.css")
    body
        .layout
            .layout-buttons
                .layout-buttons__title
                    h3.layout__title Standard Buttons
                .layout-buttons__item-button
                    +button({text: "Button", type: "button", link: "/mock-address/change-me", size: "small", color: "green"})
                .layout-buttons__item-button
                    +button({text: "Button", type: "button", link: "none", color: "green"})
                .layout-buttons__item-button
                    +button({text: "Button", type: "button", link: "/mock-address/change-me"})
                .layout-buttons__item-button
                    +button({text: "Button", type: "button", link: "none", size: "small"})
            .layout-arrow-buttons
                h3.layout__title Arrow Buttons
                .layout-arrow-buttons__item-button
                    +arrow-button({direction: "left"})
                .layout-arrow-buttons__item-button
                    +arrow-button({direction: "right"})
                .layout-arrow-buttons__item-button
                    +arrow-button({direction: "left", state: "disabled"})
                .layout-arrow-buttons__item-button
                    +arrow-button({direction: "right", state: "disabled"})
            .layout-progress-bars
                h3.layout__title Percentages / Pie chart
                .layout-progress-bars__item
                    +circle-progress-bar({value: "0"})
                .layout-progress-bars__item
                    +circle-progress-bar({value: "38"})
                .layout-progress-bars__item
                    +circle-progress-bar({value: "62"})
                .layout-progress-bars__item
                    +circle-progress-bar({value: "89"})
                .layout-progress-bars__item
                    +pie-chart("2, 3, 6, 7")
            .layout-sliders
                h3.layout__title Sliders
                .layout-sliders__slider-left
                    +slider-a({min: "0", max: "100", step: "1"})
                .layout-sliders__slider-right
                    +slider-b({min: "0", max: "100", step: "25"})
            .layout-stages
                h3.layout__title Stages
                +stages({steps: "5", current: "3"})
            .layout-form-elements
                h3.layout__title Form elements
                .layout-form-elements-container
                    .layout-form-elements-container__message-form
                        +message-form(data.messageform)
                    .layout-form-elements-container__toggles-and-ticks
                        h3.layout__title.layout__title_margin-top_false Toggles
                        .layout-form-elements-container__toggles
                            +toggles({name: "noadult"})
                        .layout-form-elements-container__toggles
                            +toggles({name: "adult", active: true})
                        h3.layout__title Tick boxes
                        .layout-form-elements-container__tick
                            +tick-box({type: "radio", name: "gender", value: "male", active: true})
                        .layout-form-elements-container__tick
                            +tick-box({type: "radio", name: "gender", value: "female"})
            .layout-search-drop-user-profile
                .layout-search-drop-user-profile-container
                    .layout-search-drop-user-profile-container__left
                        h3.layout__title Search / Drop Down
                        .layout-search-drop-user-profile-container__search
                            +search({name: "search"})
                        .layout-search-drop-user-profile-container__search
                            +search({name: "search-off", not_found: true})
                        .layout-search-drop-user-profile-container__search
                            +drop-down("dropdown", data.dropdown)
                    .layout-search-drop-user-profile-container__right
                        h3.layout__title User profile
                        .layout-search-drop-user-profile-container__user-block
                            +user-info-block({image: "img/photo1.png", link: "none", name: "John Smith", job: "Ux designer", facebook: "/mock-address/change-me", twitter: "/mock-address/change-me",dribbble: "/mock-address/change-me"})
                        .layout-search-drop-user-profile-container__user-block
                            +user-info-block({image: "img/photo2.png", link: "/mock-address/change-me", name: "Sarah Brown", job: "Developer", facebook: "/mock-address/change-me", twitter: "/mock-address/change-me",dribbble: "/mock-address/change-me", theme: "green"})
            .layout-news-events
                h3.layout__title News &amp; Events
                .layout-news-events-container
                        .layout-news-events-container__item
                            +news({image: "img/news.png", title: "It's all going downhill", date: "24 August 2013", description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum aliquet venenatis. Etiam a nisi nunc, a tincidunt eros."})
                        .layout-news-events-container__item
                            +event({image: "img/event1.png", day: "24", month: "Aug", title: "This is the title", description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit."})
            .layout-location
                h3.layout__title Location
                +map-block({id: "map", lat: "56.501", lng: "84.992", zoom: "14", marker: "img/map-marker-icon.png", title: "Meet us!", address: "1259 California st San Francisco, CA"})
            .layout-calendar-and-messaging
                h3.layout__title Calendar / Messaging
                .layout-calendar-and-messaging-container
                    .layout-calendar-and-messaging-container__left
                        .layout-calendar-and-messaging-container__calendar
                            +calendar
                    .layout-calendar-and-messaging-container__right
                        .layout-calendar-and-messaging-container__messaging
                            +messaging({name: "Sarah Brown", image: "img/photo2.png"})
            .layout-video
                h3.layout__title Video
                +youtube-video({videoId: "RN3Mf3oQ6e8"})
        script(type="text/javascript" src="main.js")
        script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClpcagWc1LzQgPuGadYKpXCXVchQ3o0Ik&callback=initMap")