@import "../node_modules/normalize-css/normalize.css";

html {
    font-size: 16px;
    @media screen and (max-width: 870px) {
        font-size: 14px;
    }
    @media screen and (max-width: 720px) {
        font-size: 12px;
    }
}
body {
    overflow-x:hidden;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.layout {
    width: 98%;
    max-width: 1086px;
    margin: 0 auto;
    &__title {
        margin: 0;
        margin: 4.0625rem 0;
        letter-spacing: 0.125rem;
        word-spacing: -0.125rem;
        padding: 0;
        font-family: 'Lato', Arial, sans-serif;
        font-weight: 500;
        font-style: bold;
        font-size: 2.0625rem;
        text-align: center;
        text-transform: uppercase;
        &_margin-top_false {
            margin-top: 0;           
        }
        @media screen and (max-width: 720px) {
            margin: 45px 0;
        }
    }
    &__buttons {
        text-align: center;
    }
    &__button {
        margin: 10px 0;
    }
    &__arrow-buttons {
        text-align: center;
    }
    &__arrow-button {
        display: inline-block;
        margin: 0 10px;
        @media screen and (max-width: 720px) {
            margin: 10px 10px;
        }
    }
    &__progress-bars {
        text-align: center;
    }
    &__progress-bar {
        display: inline-block;
        width: 10.875rem;
        height: 10.875rem;
        @media screen and (max-width: 720px) {
            display: block;
            margin: 10px auto;
        }
    }
    &__sliders {
        text-align: center;
        @media screen and (max-width: 720px) {
            margin-bottom: 60px;
        }
    }
    &__float-slider {
        display: inline-block;
        width: 43.75%;
        vertical-align: top;
        margin-right: 2rem;
        @media screen and (max-width: 720px) {
            width: 85%;
            display: block;
            margin: 30px auto;
        }
    }
    &__pips-slider {
        display: inline-block;
        width: 43.75%;
        @media screen and (max-width: 720px) {
            width: 85%;
            display: block;
            margin: 30px auto;
        }
    }
    &__stages {
        width: 100%;
        margin: 0 auto;
    }
    &__form-elements-container {
        font-size: 0;
    }
    &__message-form {
        width: 48.3%;
        display: inline-block;
        @media screen and (max-width: 860px) {
            width: 55%;
        }
        @media screen and (max-width: 720px) {
            width: 100%;
            margin-bottom: 4rem;
            float: block;
        }
    }
    &__toggles-and-ticks {
        width: 45%;
        display: inline-block;
        vertical-align: top;
        text-align: center;
        @media screen and (max-width: 860px) {
            width: 43%;
        }
        @media screen and (max-width: 720px) {
            width: 100%;
            display: block;
            text-align: center;
        }
    }
    &__toggles {
        display: inline-block;
        &:nth-child(2) {
            margin-right: 3.7%;
        }
    }
    &__tick{
        display: inline-block;
        margin-right: 2.7%;
    }
    &__search-drop-side {
        width: 50%;
        display: inline-block;
        @media screen and (max-width: 1100px) {
            width: 47%;
        }                
        @media screen and (max-width: 720px) {
            width: 100%;
            display: block;
        }
    }
    &__user-profile-side {
        width: 49%;
        display: inline-block;
        vertical-align: top;
        text-align: center;
        @media screen and (max-width: 1100px) {
            width: 52%;
        }                
        @media screen and (max-width: 720px) {
            width: 100%;
            display: block;
        }
    }
    &__search {
        width: 97%;
        margin-bottom: 1.8rem;
        &:last-child {
            margin-bottom: 0;
        }
        @media screen and (max-width: 720px) {
            width: 100%;
        }
    }
    &__user-block {
        width: 90%;
        margin-bottom: 2.875rem;
        @media screen and (max-width: 720px) {
            width: 100%;
        }
        &:nth-child(3) {
            margin-bottom: 0;
        }
    }
    &__news-events-item {
        width: 48.45%;
        display: inline-block;
        vertical-align: top;
        @media screen and (max-width: 720px) {
            width: 100%;
            display: block;
            &:first-child {
                margin-bottom: 1rem;
            }
        }
    }
    &__calendar-and-messaging-container {
        font-size: 0;
    }
    &__calendar-side {
        width: 50%;
        display: inline-block;
        vertical-align: top;
        @media screen and (max-width: 720px) {
            display: block;
            width: 100%;
        }
    }
    &__messaging-side {
        width: 50%;
        display: inline-block;
        vertical-align: top;
        @media screen and (max-width: 720px) {
            display: block;
            width: 100%;
        }
    }
    &__calendar {
        width: 96.869%;
        @media screen and (max-width: 720px) {
            width: 100%;
            margin: 0;
            margin-bottom: 20px;
        }
    }
    &__messaging {
        width: 96.869%;
        @media screen and (max-width: 720px) {
            width: 100%;
            margin: 0;
        }
    }
}