.circle-progress-bar {
	display: inline-block;
	input {
		text-align: center;
		margin-top: 55px !important;
		width: 127px !important;
		height: 60px !important;
		margin-left: -152px !important;
		font-family: 'Conv_Lato-Light', sans-serif !important;
		font-size: 4.5625rem !important;
		&:focus {
			outline: none;
			outline-offset: none;
		}
	}
}

