.circle-progress-bar {
	width: 10.875rem;
	display: inline-block;
	position: relative;
	input {
		text-align: center;
		font-family: 'Conv_Lato-Light', sans-serif !important;
		font-size: 3.2rem !important;
		&:focus {
			outline: none;
			outline-offset: none;
		}
	}
}

