.calendar {
	width: 526px;
	height: 782px;

	&__header {
		display: inline-block;
		font-family: 'Conv_Lato-Light', sans-serif;
		width: 501px;
		padding: 15px 9px 11px 0;
		letter-spacing: -5px;
		background-color: #e75735;
		font-size: 146px;
		color: #fff;
		text-align: center;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
	}
	
	&__datepicker {
		width: 526px;
	}
	&__bottom {
		width: 470px;
		font-family: 'Conv_Lato-Black', sans-serif;
		padding: 32px 2px 31px 38px;
		margin-top: 1px;
		font-size: 24px;
		letter-spacing: 1px;
		text-transform: uppercase;
		background-color: #e5e5e5;
		color: #868686;
		font-weight: bold;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
	border: none;
	background: none;
}
.ui-widget.ui-widget-content {
	border: 0;
}
.ui-datepicker-header, 
.ui-datepicker-calendar thead {
	background: #e75735;
	color: #fff;
	font-family: 'Conv_Lato-Black', sans-serif;
	font-size: 16px;
	font-weight: normal;
}
.ui-datepicker-header {
	width: 100%;
	background-color: #d54c2c;
}
.ui-datepicker-calendar {
	width: 100%;
	font-family: 'Conv_Lato-Light', sans-serif;
}
.ui-datepicker-calendar .ui-state-default {
	width: 71px;
	height: 71px;
	line-height: 71px;
	margin-top: 2px;
	border: none;
	text-align: center;
	font-size: 37px;
	color: #868686;
}
.ui-datepicker {
	width: 97%;
	padding: 0;
}
.ui-datepicker table{
	margin: 0;
}
.ui-datepicker td {
	padding: 0;
}
.ui-datepicker td span, .ui-datepicker td a {
	padding: 0;
	background-color: #f2f2f2;
}
.ui-datepicker-other-month .ui-state-default {
	color: #fff;
}
.ui-datepicker th {
	padding: .9em .3em;
	letter-spacing: 2px;

}
.ui-datepicker div.ui-datepicker-title {
	font-size: 44px;
	line-height: 65px;
	letter-spacing: -2px;
	padding-bottom: 9px;
	font-family: 'Conv_Lato-Light', sans-serif;
	
	font-weight: normal;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
	top: 16px;
}
.ui-widget-header {
	border: none;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
	border-radius: 0;
}
.ui-widget-content .ui-state-highlight{
	background-color: #e75735;
	color: #fff;
}
.ui-widget-content .ui-state-active {
	background-color: #e75735;
	color: #fff;
}
.ui-datepicker .ui-datepicker-buttonpane {
	margin: 0;
	border: 0;
}
.ui-datepicker-title span.ui-datepicker-year {
	display: none;
}
.selectDay {
	font-size: 80px;
	text-align: center;
	background-color: #e75735;
	color: #fff;
}
.ui-icon, .ui-widget-content .ui-icon {
	background-image: none;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.ui-datepicker-prev .ui-icon {
    border: solid #fff;
    border-width: 0 4px 4px 0;
    display: inline-block;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
.ui-datepicker .ui-datepicker-prev {
	left: 27px;
}
.ui-datepicker .ui-datepicker-next {
	right: 28px;
}
.ui-icon {
	width: 16px;
	height: 16px;
}

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
    left: 42%;
    margin-left: -8px;
    top: 74%;
    margin-top: -8px;
}