.calendar {
    width: 97.9%;
    &__header {
        display: inline-block;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        font-style: normal;
        width: 95.25%;
        padding: 3.15% 1.9% 2% 0;
        letter-spacing: -0.3125rem;
        background-color: #e75735;
        font-size: 9.125rem;
        color: #fff;
        text-align: center;
        border-top-left-radius: 0.4375rem;
        border-top-right-radius: 0.4375rem;
        @media screen and (max-width: 720px) {
            width: 98.1%;
        }
    }
    &__datepicker {
        width: 100%;
        @media screen and (max-width: 720px) {
            .ui-datepicker-inline.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all {
                width: 99.9%;
            }
        }
    }
    &__bottom {
        width: 89.354%;
        font-family: 'Lato', sans-serif;
        font-weight: 500;
        font-style: bold;
        padding: 6% 0.5% 6% 7.2%;
        margin-top: 0.1%;
        font-size: 1.5rem;
        letter-spacing: 0.0625rem;
        text-transform: uppercase;
        background-color: #e5e5e5;
        color: #868686;
        font-weight: bold;
        border-bottom-left-radius: 0.4375rem;
        border-bottom-right-radius: 0.4375rem;
        @media screen and (max-width: 720px) {
            width: 92.3%;
        }
    }
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
    border: none;
    background: none;
}
.ui-widget.ui-widget-content {
    border: 0;
}
.ui-datepicker-header, 
.ui-datepicker-calendar thead {
    background: #e75735;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-style: bold;
    font-size: 1rem;
    font-weight: normal;
}
.ui-datepicker-header {
    width: 100%;
    background-color: #d54c2c;
}
.ui-datepicker-calendar {
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-style: normal;
}
.ui-datepicker-calendar .ui-state-default {
    width: 100%; // 71px
    height: 100%;
    line-height: 4.4375rem;
    margin-top: 2px;
    border: none;
    text-align: center;
    font-size: 2.3125rem;
    color: #868686;
}
.ui-datepicker {
    width: 97%;
    padding: 0;
}
.ui-datepicker table{
    margin: 0;
}
.ui-datepicker td {
    padding: 0;
}
.ui-datepicker td span, .ui-datepicker td a {
    padding: 0;
    background-color: #f2f2f2;
}
.ui-datepicker-other-month .ui-state-default {
    color: #fff;
}
.ui-datepicker th {
    padding: .9em .3em;
    letter-spacing: 2px;

}
.ui-datepicker div.ui-datepicker-title {
    font-size: 2.75rem;
    line-height: 4.0625rem;
    letter-spacing: -2px;
    padding-bottom: 9px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-style: normal;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    top: 16px;
}
.ui-widget-header {
    border: none;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-radius: 0;
}
.ui-widget-content .ui-state-highlight{
    background-color: #e75735;
    color: #fff;
}
.ui-widget-content .ui-state-active {
    background-color: #e75735;
    color: #fff;
}
.ui-datepicker .ui-datepicker-buttonpane {
    margin: 0;
    border: 0;
}
.ui-datepicker-title span.ui-datepicker-year {
    display: none;
}
.selectDay {
    font-size: 5rem;
    text-align: center;
    background-color: #e75735;
    color: #fff;
}
.ui-icon, .ui-widget-content .ui-icon {
    background-image: none;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    transform: rotate(-45deg);
}
.ui-datepicker-prev .ui-icon {
    border: solid #fff;
    border-width: 0 4px 4px 0;
    display: inline-block;
    transform: rotate(135deg);
}
.ui-datepicker .ui-datepicker-prev {
    left: 27px;
}
.ui-datepicker .ui-datepicker-next {
    right: 28px;
}
.ui-icon {
    width: 16px;
    height: 16px;
}

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
    left: 42%;
    margin-left: -8px;
    top: 74%;
    margin-top: -8px;
}

@media screen and (max-width: 965px) {
    .ui-datepicker th {
        letter-spacing: 0;

    }
}