include ../../blocks/button/button.pug
include ../../blocks/page-header/page-header.pug
include ../../blocks/page-footer/page-footer.pug
include ../../blocks/events-slider/events-slider.pug

doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title All events and news
        script(src="https://www.youtube.com/iframe_api")
        link(rel="stylesheet" href="main.css")
    body
        .allevents-page
            .allevents-page__header
                +page-header({title: "THE BEST MEETING WEBSITE", buttons: [{button: "login", link: "login.html"}, {button: "signup", link: "signup1.html"}]})
            main.allevents-page-content
                +events-slider()
            .allevents-page__footer
                +page-footer({text: "There is some information about this site"})
        script(type="text/javascript" src="main.js")