.signup2-page {
    width: 98%;
    max-width: 1250px;
    margin: 0 auto;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fff;
    &-content {
        flex: 1;
        &__note {
            font-family: "PT Sans", Arial, sans-serif;
            font-size: 1.21rem;
            text-align: center;
        }
        &__main-form {
            width: 55%;
            margin: 0 auto;
            @media screen and (max-width: 900px) {
                width: 70%;
            }
            @media screen and (max-width: 650px) {
                width: 85%;
            }
            @media screen and (max-width: 380px) {
                width: 98%;
            }
        }
        &__main-form-line {
            margin-bottom: 0.5rem;
            &:first-child {
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &:last-child {
                text-align: center;
            }
            &:nth-last-child(2) {
                display: flex;
                justify-content: center;
                align-items: center;
                @media screen and (max-width: 380px) {
                    display: block;
                    text-align: center;
                }
            }
        }
        &__main-form-line-item {
            margin: 0 0.3125rem;
            label& {
                font-family: "PT Sans", Arial, sans-serif;
                font-size: 1.21rem;
            }
        }
        &__main-form-button {
            display: inline-block;
            margin: 0 0.3125rem;
            @media screen and (max-width: 380px) {
                display: block;
                margin: 0; 
                &:first-child {
                    margin-bottom: 0.4325rem;
                }
            }
        }
    }
    &__footer {
        margin-top: 1rem;
    }
}