include ../../blocks/button/button.pug
include ../../blocks/form-line/form-line.pug
include ../../blocks/stages/stages.pug
include ../../blocks/page-header/page-header.pug
include ../../blocks/page-footer/page-footer.pug
include ../../blocks/toggles/toggles.pug
include ../../blocks/tick-box/tick-box.pug
include ../../blocks/choose-photo/choose-photo.pug
-var data = require('./data.json');
-var formData = data.enteringJobAndSocialInformationFormData;
doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="initial-scale=1, width=device-width")
        meta(name="description" content="one of the pages of meeting site")
        meta(name="keywords" content="signup")
        meta(name="author" content="Lamonov Maks")
        title Signup page
        link(rel="apple-touch-icon" sizes="180x180" href="favicons/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="favicons/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="favicons/favicon-16x16.png")
        link(rel="manifest" href="favicons/manifest.json")
        link(rel="mask-icon" href="favicons/safari-pinned-tab.svg" color="#5bbad5")
        meta(name="theme-color" content="#ffffff")
        link(rel="stylesheet" href="main.css")
    body
        .entering-job-and-social-information
            .entering-job-and-social-information__header
                +page-header({title: "THE BEST MEETING WEBSITE", buttons: [{button: "goback", link: "main.html"}]})
            main.entering-job-and-social-information__content
                .entering-job-and-social-information__steps
                    +stages({steps: "3", current: "2"})
                +choose-photo()
                form.entering-job-and-social-information__main-form
                    .entering-job-and-social-information__form-line
                        .entering-job-and-social-information__form-item
                            +tick-box({type: "radio", name: "gender", value: "male", active: true})
                        label.entering-job-and-social-information__form-line-item Male
                        .entering-job-and-social-information__form-item
                            +tick-box({type: "radio", name: "gender", value: "female"})
                        label.entering-job-and-social-information__form-item Female
                    .entering-job-and-social-information__form-line
                        +form-line({inputtype: formData["job-field"].inputtype, name: formData["job-field"].name, placeholder: formData["job-field"].placeholder, valid: formData["job-field"].valid})
                    .entering-job-and-social-information__form-line
                        +form-line({inputtype: formData["facebook-field"].inputtype, name: formData["facebook-field"].name, placeholder: formData["facebook-field"].placeholder, valid: formData["facebook-field"].valid})
                    .entering-job-and-social-information__form-line
                        +form-line({inputtype: formData["twitter-field"].inputtype, name: formData["twitter-field"].name, placeholder: formData["twitter-field"].placeholder, valid: formData["twitter-field"].valid})
                    .entering-job-and-social-information__form-line
                        +form-line({inputtype: formData["dribbble-field"].inputtype, name: formData["dribbble-field"].name, placeholder: formData["dribbble-field"].placeholder, valid: formData["dribbble-field"].valid})
                    .entering-job-and-social-information__form-line
                        .entering-job-and-social-information__form-item
                            +toggles({name: "get-information", active: true})
                        label.entering-job-and-social-information__form-item Get information about current events
                    .entering-job-and-social-information__form-line
                        .entering-job-and-social-information__form-button
                            +button({text: "back", type: "button", link: "entering-contact-information.html"})
                        .entering-job-and-social-information__form-button
                            +button({text: "next", type: "button", link: "checking-signup-information.html", color: "green"})
            .entering-job-and-social-information__footer
                +page-footer({text: "There is some information about this site"})
        script(type="text/javascript" src="main.js")