.layout {
	&-header {
		&__title {
			a {
				color: #e75735;
				text-decoration: none;
			}
		}
	}
}
.event-page.layout-content {
	.event {
		width: 72%;
		height: 400px;
		margin: 15px auto;
		.event-info__description {
			margin-bottom: 6.3%;
		}
	}
	.map-block {
		height: 520px;
	}
	.slider-a {
		width: 40%;
		vertical-align: top;
		margin-top: 110px;
	}
	.layout-content__note {
		font-size: 1.21rem;
		text-align: center;
	}
	.layout-content-join {
		text-align: center;
	}
	.layout-content-slider-bar {
		text-align: center;
	}
	.about-event {
		text-align: center;
	}
}
@media screen and (max-width: 1040px) {
	html {
		font-size: 14px;
	}
	.event-page.layout-content {
		.event {
			width: 100%;
			height: 400px;
			margin: 15px auto;
		}
	}
}
@media screen and (max-width: 640px) {
	html {
		font-size: 12px;
	}
}