include ../../blocks/button/button.pug
include ../../blocks/map-block/map-block.pug
include ../../blocks/youtube-video/youtube-video.pug
include ../../blocks/event/event.pug
include ../../blocks/circle-progress-bar/circle-progress-bar.pug
include ../../blocks/slider/slider.pug
include ../../blocks/page-header/page-header.pug
include ../../blocks/page-footer/page-footer.pug
doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="initial-scale=1, width=device-width")
        meta(name="description" content="one of the pages of meeting site")
        meta(name="keywords" content="event")
        meta(name="author" content="Lamonov Maks")
        title Event page
        link(rel="apple-touch-icon" sizes="180x180" href="favicons/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="favicons/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="favicons/favicon-16x16.png")
        link(rel="manifest" href="favicons/manifest.json")
        link(rel="mask-icon" href="favicons/safari-pinned-tab.svg" color="#5bbad5")
        meta(name="theme-color" content="#ffffff")
        link(rel="stylesheet" href="main.css")
        script(src="https://www.youtube.com/iframe_api")
    body
        .event-page
            .event-page__header
                +page-header({title: "THE BEST MEETING WEBSITE", buttons: [{button: "goback", link: "main.html"}]})
            main.event-page__content
                .event-page__event
                    +event({image: "img/event1.png", day: "24", month: "Aug", title: "This is the title", description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit."})
                .event-page__join-button
                    +button({text: "Join", type: "button", link: "none", size: "small", color: "green"})
                p.event-page__note At the bottom: I'll go if people are for example 50. On the right: Number of people who go to the event
                .event-page__statistics
                    .event-page__slider
                        +slider({type: "float", min: "0", max: "100", step: "1"})
                    .event-page__progress-bar
                        +circle-progress-bar({value: "55"})
                p.event-page__note Some information about an event
                .event-page__video
                    +youtube-video({videoId: "RN3Mf3oQ6e8"})
                .event-page__map
                    +map-block({id: "map", lat: "56.501", lng: "84.992", zoom: "14", marker: "img/map-marker-icon.png", title: "Meet us!", address: "1259 California st San Francisco, CA"})
            .event-page__footer
                +page-footer({text: "There is some information about this site"})
        script(type="text/javascript" src="main.js")
        script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClpcagWc1LzQgPuGadYKpXCXVchQ3o0Ik&callback=initMap")