.event-page {
    width: 98%;
    max-width: 1250px;
    margin: 0 auto;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fff;
    &__header {
        margin-bottom: 1rem;
    }
    &__content {
        flex: 1;
    }
    &__event {
        width: 45%;
        margin: 0 auto;
        @media screen and (max-width: 1160px) {
            width: 60%;
        }
        @media screen and (max-width: 700px) {
            width: 75%;
        }
        @media screen and (max-width: 700px) {
            width: 90%;
        }
        @media screen and (max-width: 380px) {
            width: 100%;
        }
    }
    &__join-button {
        text-align: center;
        margin: 0.8rem 0;
    }
    &__note {
        font-family: "PT Sans", Arial, sans-serif;
        font-size: 1.21rem;
        text-align: center;
    }
    &__statistics {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 85%;
        margin: 0 auto;
        @media screen and (max-width: 700px) {
            width: 90%;
        }
        @media screen and (max-width: 450px) {
            width: 95%;
        }
    }
    &__slider {
        flex: 1 0 15%;
    }
    &__progress-bar {
        flex: 1;
        display: flex;
        justify-content: center;
    }
    &__footer {
        margin-top: 1rem;
    }
}