doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Event
		script(src="https://www.youtube.com/iframe_api")
		link(rel="stylesheet" href="main.css")
	body
		include ../../blocks/button/button.pug
		include ../../blocks/map-block/map-block.pug
		include ../../blocks/youtube-video/youtube-video.pug
		include ../../blocks/news/news.pug
		include ../../blocks/event/event.pug
		include ../../blocks/circle-progress-bar/circle-progress-bar.pug
		include ../../blocks/slider-a/slider-a.pug
		.layout
			.layout-header.clearfix
				.layout-header__title
					h1 
						a(href="index.html") THE BEST MEETING WEBSITE
				.layout-header__registration
					+button("Go back","button","index.html","small","green")
			.layout-content.event-page
				+event("img/event1.png","24","Aug","This is the title","Lorem ipsum dolor sit amet, consectetur adipiscing elit.")
				.layout-content-join
					+button("Join","button","#","small","green")
				.layout-content-slider-bar
					p.layout-content__note At the bottom: I'll go if people are for example 50. On the right: Number of people who go to the event
					+slider-a("price","0","100","1")
					+circle-progress-bar("55")
				p.layout-content__note Some information about an event
				+youtube-video("RN3Mf3oQ6e8")
				+map-block("map","56.501","84.992","14","img/map-marker-icon.png")
			.layout-footer
				p There is some information about this site
		script(type="text/javascript" src="main.js")
		script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClpcagWc1LzQgPuGadYKpXCXVchQ3o0Ik&callback=initMap")