include ../../blocks/button/button.pug
include ../../blocks/form-line/form-line.pug
include ../../blocks/page-header/page-header.pug
include ../../blocks/page-footer/page-footer.pug
-var data = require('./data.json');
doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title Login page
        script(src="https://www.youtube.com/iframe_api")
        link(rel="stylesheet" href="main.css")
    body
        .login-page
            .login-page__header
                +page-header({title: "THE BEST MEETING WEBSITE", buttons: [{button: "goback", link: "main.html"}]})
            .login-page-content
                p.login-page-content__note Please enter your phone or email. We'll send you a message with code
                form.login-page-content__main-form
                    -var data = data.loginform;
                    .login-page-content__main-form-line
                        +form-line({inputtype: data["email-field"].inputtype, name: data["email-field"].name, placeholder: data["email-field"].placeholder, valid: data["email-field"].valid})
                    .login-page-content__main-form-line
                        +form-line({inputtype: data["password-field"].inputtype, name: data["password-field"].name, placeholder: data["password-field"].placeholder, valid: data["password-field"].valid})
                    .login-page-content__main-form-line
                        +button({text: "Log in", type: "button", link: "index.html", color: "green"})
            .login-page__footer
                +page-footer({text: "There is some information about this site"})
        script(type="text/javascript" src="main.js")