include ../../blocks/user-info-block/user-info-block.pug
include ../../blocks/button/button.pug
include ../../blocks/stages/stages.pug
include ../../blocks/page-header/page-header.pug
include ../../blocks/page-footer/page-footer.pug
doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title Registration page
        script(src="https://www.youtube.com/iframe_api")
        link(rel="stylesheet" href="main.css")
    body
        .signup3-page
            .signup3-page__header
                +page-header({title: "THE BEST MEETING WEBSITE", buttons: [{button: "goback", link: "main.html"}]})
            .signup3-page-content
                .signup3-page-content__steps
                    +stages({steps: "3", current: "3"})
                p.signup3-page-content__note Please check information about yourself, check links
                .signup3-page-content__user-block
                    +user-info-block({image: "img/photo1.png", link: "none", name: "John Smith", job: "Ux designer", facebook: "/mock-address/change-me", twitter: "/mock-address/change-me",dribbble: "/mock-address/change-me"})
                .signup3-page-content__buttons
                    .signup3-page-content__button
                        +button({text: "back", type: "button", link: "signup2.html"})
                    .signup3-page-content__button
                        +button({text: "next", type: "button", link: "main.html", color: "green"})
            .signup3-page__footer
                +page-footer({text: "There is some information about this site"})
        script(type="text/javascript" src="main.js")