.signup3.layout-content {
	.stages {
		width: 70%;
		margin: 0 auto;
	}
	p {
		text-align: center;
	}
	.button-line {
		text-align: center;
	}
	.user-info-block {
		width: 50%;
		margin: 20px auto;
		padding: 0;
	}
}