.signup3.layout-content {
	.stages {
		width: 70%;
		margin: 0 auto;
	}
	.main-form {
		&-line {
			&:last-child {
				text-align: center;
			}
		}
	}
	.user-info-block {
		width: 50%;
		margin: 20px auto;
		padding: 0;
	}
}