.drop-down {
	width: 100%;
}
.drop-down .stylee {
	font-family: "PT Sans", sans-serif !important;
	width: 97%;
	font-size: 26px;
	line-height: 50px;
	height: 50px;
}
.select2.select2-container.select2-container--default {
	width: 100% !important;
}
.drop-down .select2-selection.select2-selection--single {
	background: #e5e5e5 !important;
	color: #000 !important;
	height: 50px !important;
	font-family: "PT Sans", sans-serif !important;
	line-height: 50px !important;
	border: 0;
}
.drop-down .select2-selection__rendered {
	font-size: 1.625rem !important;
	padding-left: 4.2% !important;
    padding-top: 0.3% !important;
	line-height: 3.125rem !important;
	-height: 50px !important;

	vertical-align: middle !important;
}
.drop-down .select2-selection__arrow {
	height: 100% !important;
	position: absolute !important;
	top: 0px !important;
	background-color: #4eb7a8 !important;
	border-bottom-right-radius: 0.1875rem !important;
	border-top-right-radius: 0.1875rem !important;
	right: 0 !important;
	width: 11.75% !important;
}
.drop-down .select2-selection__arrow b {
    width: 22% !important;
    height: 29% !important;
    border: 0.25rem solid #fff !important;
    border-top: none !important;
    border-right: none !important;
    transform: rotate(-45deg);
    top: 30% !important;
    left: 38% !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    width: 22% !important;
    height: 29% !important;
    border: 0.25rem solid #fff !important;
    border-top: none !important;
    border-right: none !important;
    transform: rotate(-45deg);
    top: 30% !important;
    left: 38% !important;
}
.drop-down option {
	color: #fff;
}

.select2-dropdown {
	font-size: 1.625rem !important;
}
.select2-results__option {
	padding: 10px 5px 10px 22px !important;
}
.select2-container--open .select2-dropdown {
	font-family: "PT Sans", sans-serif !important;
	color: #fff !important;
}
.select2-container--open .select2-dropdown--below {
	background-color: #4eb7a8 !important;

}
.select2-container--open .select2-dropdown--above {
	background-color: #4eb7a8 !important;
}
.select2-search--dropdown {
	padding: 0 !important;
}
.select2-search--dropdown .select2-search__field {
	padding: 0 0 0 5px !important;
	width: 100% !important;

    color: #fff !important;
    font-family: "PT Sans", sans-serif !important;
    outline: none !important;
    box-sizing: border-box !important;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
	  border: none !important;
	  font-family: "PT Sans", sans-serif !important;
	  background-color: #4eb7a8 !important;
	  font-size: 1.625rem !important;
}