mixin drop-down(id,options)
    .drop-down
        select.drop-down__select(name=id+"")
            option
            -var i = 1;
            each item in options
                option(value=(i++)+"")
                    a(href=item.link+"")=item.name