.drop-down {
	width: 100%;
}
.drop-down .stylee {
	font-family: "PT Sans", sans-serif !important;
	width: 97%;
	font-size: 26px;
	line-height: 50px;
	height: 50px;
}
.drop-down .select2-selection.select2-selection--single {
	background: #e5e5e5 !important;
	color: #000 !important;
	height: 50px !important;
	font-family: "PT Sans", sans-serif !important;
	line-height: 50px !important;
	border: 0;
}
.drop-down .select2-selection__rendered {
	font-size: 26px !important;
	padding-left: 22px !important;
    padding-top: 2px !important;
	line-height: 50px !important;
	height: 50px !important;

	vertical-align: middle !important;
}
.drop-down .select2-selection__arrow {
	height: 50px !important;
	position: absolute !important;
	top: 0px !important;
	background-color: #4eb7a8 !important;
	border-bottom-right-radius: 3px !important;
	border-top-right-radius: 3px !important;
	right: 0 !important;
	width: 63px !important;
}
.drop-down .select2-selection__arrow b {
	//border: 10px solid #fff !important;
	//border-color: #fff transparent transparent transparent !important;
	//border-color: 0 !important;
	//border: 0 !important;
    //border: solid #fff !important;
    //border-width: 0 15px 15px 0 !important;
    //transform: rotate(45deg) !important;
    //border: solid black !important;
    //border-width: 0 3px 3px 0 !important;
    //display: inline-block !important;
    //padding: 3px !important;
    width: 14px !important;
    height: 14px !important;
    border: 4px solid #fff !important;
    border-top: none !important;
    border-right: none !important;
    transform: rotate(-45deg);
    top: 15px !important;
    left: 24px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    //border: solid #fff !important;
	//border-color: 0 #fff #fff 0 !important;
    //border-width: 0 15px 15px 0 !important;
    //transform: rotate(45deg) !important;
    width: 14px !important;
    height: 14px !important;
    border: 4px solid #fff !important;
    border-top: none !important;
    border-right: none !important;
    transform: rotate(-45deg);
    top: 15px !important;
    left: 24px !important;
}
.drop-down option {
	color: #fff;
}

.select2-dropdown {
	font-size: 26px !important;
}
.select2-results__option {
	padding: 10px 5px 10px 22px !important;
}
.select2-container--open .select2-dropdown {
	font-family: "PT Sans", sans-serif !important;
	color: #fff !important;
}
.select2-container--open .select2-dropdown--below {
	background-color: #4eb7a8 !important;

}
.select2-container--open .select2-dropdown--above {
	background-color: #4eb7a8 !important;
}
.select2-search--dropdown {
	padding: 0 !important;
}
.select2-search--dropdown .select2-search__field {
	padding: 0 0 0 5px !important;
	width: 100% !important;

    color: #fff !important;
    font-family: "PT Sans", sans-serif !important;
    outline: none !important;
    box-sizing: border-box !important;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
	  border: none !important;
	  font-family: "PT Sans", sans-serif !important;
	  background-color: #4eb7a8 !important;
	  font-size: 26px !important;
}