.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
.user-info-block {
	width: 91%;
	padding-left: 6%;
}
.photo-block {
	float: left;
}
.info-block {
	float: right;
}

@media screen and (max-width: 720px) {
	.user-info-block {
		width: 100%;
		padding: 0;
	}
	.photo-block {
		float: none;
		display: block;
		margin: 0 auto;
		margin-bottom: 20px;
	}
	.info-block {
		float: none;
		display: block;
		margin: 0 auto;
	}	
}