mixin user-info-block(object)
    section.user-info-block.clearfix
        include ../photo-block/photo-block.pug
        include ../info-block/info-block.pug
        .user-info-block__photo
            +photo-block({image: object.image, link: object.link})
        .user-info-block__info
            +info-block({name: object.name, job: object.job, facebook: object.facebook, twitter: object.twitter, dribbble: object.dribbble, theme: object.theme})