mixin event(src,day,month,title,description)
    include ../button/button.pug
    section.event
        .event-left-half(style='background-image:url('+src+')')
        .event-right-half
            span.event-right-half__date
                b.event-right-half__day=day
                | #{month}
            h4.event-right-half__title=title
            p.event-right-half__description=description
            div
                +button("Add to calendar","button","#","small","event")