mixin event(object)
    include ../button/button.pug
    section.event
        .event-left-half(style="background-image:url("+object.image+")")
        .event-right-half
            span.event__date
                b.event__day=object.day
                | #{month}
            h4.event__title=object.title
            p.event__description=object.description
            div.event__button
                +button({text: "Add to calendar", type: "button", link: "none", size: "small", theme: "event"})