mixin event(src,day,month,title,description)
	include ../button/button.pug
	.event.clearfix
		.event__image
			img(src=(src)? src : "#")
		.event-info
			.event-info-date
				b.event-info-date__day=day
				=month
			h3.event-info__title=title
			p.event-info__description=description
			.event-info__button
				+button("Add to the calendar","button","small","green")