include ../button/button.pug
mixin event(object)
    section.event
        .event__image(style="background-image:url("+object.image+")")
        .event__content
            span.event__date
                b.event__day=object.day
                | #{object.month}
            h4.event__title=object.title
            p.event__description=object.description
            div.event__button
                +button({text: "Add to calendar", type: "button", link: "none", size: "small", theme: "event"})