.event {
	width: 528px;
	height: 389px;
	background-color: #e5e5e5;
	border-radius: 5px;

	&__image {
		float: left;
		clear: left;
		width: 33%;
		background: #fff;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;

		& img {
			width: 100%;		
		}
	}

	&-info {
		padding: 23px 29px 19px 39px;
		float: right;
		clear: right;
		height: 89.2%;
		width: 54%;
		color: #fff;
		overflow: hidden;	
		background: #4eb7a8;
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
	
		&-date {
			font-size: 55px;
			font-family: 'Conv_Lato-Light', sans-serif;
			margin-bottom: 25px;

			&__day {
				font-size: 134px;
				line-height: 134px;
				padding-right: 32px;
				letter-spacing: -11px;

				font-weight: normal;	
			}			
		}

		&__title {
			font-size: 23px;
			margin: 0;
			margin-bottom: 5px;
			font-family: 'Conv_Lato-Black', sans-serif;
			letter-spacing: 0.625px;
			text-transform: uppercase;
			font-weight: normal;
		}

		&__description {
			font-family: 'Conv_Lato-Regular', sans-serif;
			letter-spacing: 1.2px;
			font-size: 20px;
			margin: 0;
			padding: 0;
			margin-bottom: 36px;			
		}

		&__button {
			text-align: center;

			.button {
		    background-color: #fff;
		    border: 1px solid #fff; 
		    box-shadow: 0 2px 0 0 #28a290;
		    color: #4eb7a8;
			font-size: 18px;

				&:hover {
					background-color: #fff;
					color: #4eb7a8;
				}
			}
			.size_small.button {
				padding: 9.4px 20px;
			}
		}
	}
}