.search-form {
    display: flex;
    width: 526px;
    margin-bottom: 1.8rem;
    &__field {
        flex-direction: column;
        justify-content: center;
        padding: 0.39em 0.75em 0.39em 1em;
        flex: 1.8;
        background-color: #e5e5e5;
        border: none;
        font-size: 1.5625rem;
        font-family: "PT Sans", sans-serif;
        color: #888888;
        &::placeholder {
            color: #888888;
        }
        &:first-child {
            border-radius: 5px 0 0 5px;
        }
        &:last-child {
            border-radius: 0 5px 5px 0;
        }
    }
    &__button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0.39em 0.75em;
        background-image: url(search.svg);
        background-position: center center;
        background-size: 1.5rem;
        background-repeat: no-repeat;
        flex: 0.15;
        color: #000;
        font: inherit;
        font-weight: normal;
        background-color: #e75735;
        border: none;
        &:first-child {
            border-radius: 5px 0 0 5px;
        }
        &:last-child {
            border-radius: 0 5px 5px 0;
        }
    }
    .state_off& {
        &__field {
            background-color: #e75735;
            color: #fff;
            &::placeholder {
                color: #fff;
            }
        }
    }
    @media screen and (max-width: 526px) {
        width: 100%;
    }
}