mixin search(name,state)
    form.search-form
        input.search-form__field(type="text" name=name + "" class=((state == "off")? "state_off " : "") + "search-field" placeholder="Search")
        button.search-form__button(type="submit")