.toggles {
	display: inline-block;
	width: 108px;
	position: relative;
	height: 45px;

	& label {
		width: 108px;
		height: 44px;
		position: absolute;
		background-color: #e5e5e5;
		top: 0;
		left: 0;
		border-radius: 50px;
		color: #fff;
		cursor: pointer;

		&::after {
			content: "";
			width: 34px;
			height: 34px;
			border-radius: 50px;
			position: absolute;
			top: 5px;
			left: 5px;
			transition: all 0.3s;
			background-color: #fff;
		}

		&::before {
			font-family: 'Conv_Lato-Black', sans-serif;
			font-size: 22px;
			content: "OFF";
			position: absolute;
			top: 8px;
			right: 16px;
		}
	}

	& input[type="checkbox"] {
		visibility: hidden;

		&:checked + label::after {
			left: 68px;
		}
		&:checked + label::before {
			content: "ON";
			left: 13px;
		}
		&:checked + label {
			background-color: #4eb7a8;
		}
	}
}