.info-block {
	font-family: 'Conv_Lato-Regular', sans-serif;
	position: relative;
	width: 300px;
	height: 172px;
	background: #e5e5e5;
	border-radius: 15px;
	text-align: center;

	&::before {
		content: "";
		position: absolute;
		top: 75px;
		left: -7px;
		transform: rotate(45deg);
		border-radius: 4px 4px;
		width: 18px;
		height: 18px;
		z-index: -1;
		background-color: #e5e5e5;		
	}

	&__title {
		margin: 0;
		font-family: 'Conv_Lato-Regular', sans-serif;
		padding: 15px 0 1px 0;
		color: #e75735;
		font-size: 33px;
		font-weight: normal;		
	}

	&__subtitle {
		font-family: 'Conv_Lato-Black', sans-serif;
		display: inline-block;
		padding-bottom: 15px;
		font-size: 20px;
		text-transform: uppercase;
		font-weight: bold;		
	}

	&__social {
		font-size: 43px;

		& a {
			text-decoration: none;
			color: #757575;
			padding-left: 6px;
			padding-right: 32px;

			&:nth-of-type(1) {
				padding-left: 0;
			}

			&:last-of-type {
				padding-right: 0;
			}

			&:hover {
				& i {
					color: #e75735;
				}
			}
		}		
	}
	
	.theme_green & { 
		background-color: #4eb7a8;
		color: #fff;

		&::before {
			background-color: #4eb7a8;		
		}

		&__title {
			color: #fff;	
		}

		&__subtitle {
			color: #fff;
		}

		&__social {
			& a {
			color: #fff;
				&:hover {
					& i {
						color: #e75735;
					}
				}
			}
		}
	}

	.theme_green& {
		background-color: #4eb7a8;
		
		&::before {
			background-color: #4eb7a8;		
		}
	}
}

@media screen and (max-width: 720px) {
	.info-block {
		&::before {
			content: "";
			position: absolute;
			top: -9px;
			left: 142px;
			transform: rotate(45deg);
			border-radius: 4px 4px;
			width: 18px;
			height: 18px;
			z-index: -1;
			background-color: #e5e5e5;		
		}
	}	
}