mixin info-block(object)
    div.info-block(class=(object.theme? "info-block_theme_" + object.theme : ""))
        h3.info-block__title(class=(object.theme? "info-block__title_theme_" + object.theme : ""))=object.name
        span.info-block__subtitle(class=(object.theme? "info-block__subtitle_theme_" + object.theme : ""))=object.job
        .info-block__social
            a.info-block__link(href=object.facebook)
                i.info-block__icon.fa.fa-facebook(class=(object.theme? "info-block__subtitle_theme_" + object.theme : ""))
            a.info-block__link(href=object.twitter)
                i.info-block__icon.fa.fa-twitter(class=(object.theme? "info-block__subtitle_theme_" + object.theme : ""))
            a.info-block__link(href=object.dribbble)
                i.info-block__icon.fa.fa-dribbble(class=(object.theme? "info-block__subtitle_theme_" + object.theme : ""))