.form-element {
	

	&__input {
		font-family: "PT Sans", sans-serif;
		font-size: 26px;
		width: 62%;
		padding: 9px 23px;
		color: #888888;
		background-color: #e5e5e5;
		border: 0;
		border-radius: 4px;
		outline: 0;
	}

	&__textarea {
		width: 89%;
		min-height: 125px;
		font-size: 26px;
		padding: 18px 23px;
		color: #888888;
		background-color: #e5e5e5;
		border: 0;
		border-radius: 3px;
		outline: 0;	
		font-family: "PT Sans", sans-serif;
		resize: none;
	}
}

