mixin form-element(type,name,text)
	if type==="textarea"
		textarea.form-element__textarea(type="textarea" name=name+"" placeholder=text)
	else if type==="input"
		input.form-element__input(type="text" name=name+"" placeholder=text)