.form-element {
	&__input {
		font-family: "PT Sans", sans-serif;
		font-size: 1.625rem;
		width: 91.5%;
		padding: 1.65% 4.25%;
		color: #888888;
		background-color: #e5e5e5;
		border: 0;
		border-radius: 0.25rem;
		outline: 0;
	}

	&__textarea {
		width: 91.6%;
		min-height: 125px;
		font-size: 1.625rem;
		padding: 3.1% 4.2%;
		color: #888888;
		background-color: #e5e5e5;
		border: 0;
		border-radius: 0.1875rem;
		outline: 0;	
		font-family: "PT Sans", sans-serif;
		resize: none;
	}
}

