mixin events-list(items)
    ul.events-list
        each item in items
            li.events-list__item(class=item.theme? "events-list__item_theme_"+item.theme: "")
                a.events-list__link(href=item.link? item.link : "/mock-address/change-me")=item.text