.form-line {
    display: flex;
    &__field {
        flex: 2.4;
        font-size: 1.5625rem;
        font-family: "PT Sans", Arial, sans-serif;
        padding: 0.55rem 0.5rem 0.7rem 1.5rem;
        background-color: #e5e5e5;
        border: none;
        outline: none;
        border-radius: 0.4375rem;
        &:focus {
            outline-color: rgb(77, 144, 254);
            outline-offset: -2px;
            outline-style: auto;
            outline-width: 5px;
        }
        @media screen and (max-width: 430px) {
            flex: 1;
            width: 100%;
        }
    }
    &__state {
        display: flex;
        flex: 1;
        @media screen and (max-width: 430px) {
            flex: none;
            width: 100px;
        }
    }
    &__arrow {
        align-self: center;
        width: 0;
        height: 0;
        background-color: transparent;
        border: 0.4375rem solid #e75735;
        border-top-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
        &_valid {
            border-right-color: #4eb7a8;
        }
    }
    &__box {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #e75735;
        border-radius: 0.4375rem;
        font-family: 'Lato', Arial, sans-serif;
        font-weight: 500;
        font-style: bold;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        font-size: 1.125rem;
        &_valid {
            background-color: #4eb7a8;
        }
    }
    &__textarea {
        width: 94%;
        padding: 3.1% 4.2%;
        min-height: 129px;
        font-size: 1.625rem;
        color: #000;
        background-color: #e5e5e5;
        border: 0;
        border-radius: 0.1875rem;
        font-family: "PT Sans", Arial, sans-serif;
        resize: none;
        outline: none;
        &:focus {
            outline-color: rgb(77, 144, 254);
            outline-offset: -2px;
            outline-style: auto;
            outline-width: 5px;
        }
    }
}