mixin news(src,title,date,description)
    section.news
        .news-left-half(style='background-image:url('+src+')')
        .news-right-half
            h2.news-right-half__title=title
            span.news-right-half__date=date
            p.news-right-half__description=description