.news {
	width: 528px;
	height: 388px;
	background-color: #e5e5e5;
	border-radius: 5px;

	&__image {
		float: left;
		clear: left;
		width: 33%;
		background: #fff;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;

		& img {
			width: 100%;
		}
	}

	&-info {
		padding: 39px 29px 19px 42px;
		float: right;
		clear: right;
		height: 85.2%;
		width: 53.5%;
		color: #fff;
		background: #e75735;
		overflow: hidden;
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;

		&__title {
			font-family: 'Conv_Lato-Light', sans-serif;
			font-weight: normal;
			font-size: 51px;
			margin: 0;
			margin-bottom: 20px;
			line-height: 49px;
		}

		&__subtitle {
			font-family: 'Conv_Lato-Black', sans-serif;
			display: inline-block;
			letter-spacing: 1.6px;
			margin: 0;
			padding: 0;
			margin-bottom: 24px;
			font-size: 20px;
			font-weight: bold;
			text-transform: uppercase;			
		}

		&__description {
			font-family: 'Conv_Lato-Regular', sans-serif;
			font-size: 20px;
			letter-spacing: 1px;
			margin: 0;
			padding: 0;			
		}
	}
}