.news {
	width: 288px;
	height: 212px;
	background-color: #e5e5e5;
	margin-bottom: 15px;
	margin-left: 28px;
	border-radius: 5px;

	&__image {
		float: left;
		clear: left;
		width: 33%;
		background: #fff;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;

		& img {
			width: 100%;
		}
	}

	&-info {
		font-family: "PT Sans", sans-serif;
		padding: 22px;
		float: right;
		clear: right;
		height: 79.2%;
		width: 51.7%;
		color: #fff;
		background: #e75735;
		overflow: hidden;
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;

		&__title {
			font-weight: normal;
			font-size: 28px;
			margin: 0;
			margin-bottom: 3px;
			line-height: 26px;
		}

		&__subtitle {
			display: inline-block;
			margin: 0;
			padding: 0;
			margin-bottom: 14px;
			font-size: 11px;
			font-weight: bold;
			text-transform: uppercase;			
		}

		&__description {
			font-size: 11px;
			margin: 0;
			padding: 0;			
		}
	}
}