mixin news(object)
    section.news
        .news-left-half(style="background-image:url("+object.image+")")
        .news-right-half
            h2.news-right-half__title=object.title
            span.news-right-half__date=object.date
            p.news-right-half__description=object.description