.messaging {
	width: 96.869%; // 526 от 543
	background-color: #f2f2f2;
	border-radius: 2px;

	&-header {
		background: linear-gradient(to bottom, #4eb7a8 71%, #46ab9d 71%, #46ab9d 100%);
		text-align: center;
		position: relative;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;

		&__name {
			margin: 0;
			padding: 5.35% 0 20.5% 0;
			letter-spacing: -0.1875rem;
			line-height: 4.75rem;
			font-family: "PT Sans", sans-serif;
			font-size: 3.875rem;
			color: #fff;			
		}

		&__chat-icon {
			position: absolute;
			background-color: #f2f2f2;
			bottom: -41%;
			left: 8.5%;

			border: none;
			outline: none;
		}

		&__camera-icon {
			position: absolute;
			background-color: #f2f2f2;
			bottom: -38%;
			right: 8.4%;
			
			border: none;
			outline: none;
		}
		.photo-block {
			position: absolute;
			width: 25.48%;
			height: 63.24%;
			border: 0.5625rem solid #e5e5e5;
		    left: 32.4%;
		    bottom: -41.2%;
		}
	}

	&-block {
		padding-top: 61px;
		padding-bottom: 11%;
		background-color: #f2f2f2;

		&__from {
			margin: 0 auto;
			margin-top: 10.2%;
			position: relative;
			padding: 5.55% 6% 7.5% 6.1%;
			width: 72.5%;
			background-color: #fff;
			border-radius: 0.75rem;
			font-family: 'Conv_Lato-Bold', sans-serif;
			font-size: 1.4375rem;
			color: #868686;
			margin-bottom: 6.2%;

			&::before {
			    content: "";
			    position: absolute;
				top: -9px;
			    left: 207px;
			    transform: rotate(45deg);
			    border-radius: 3px 3px;
			    width: 16px;
			    height: 16px;
			    background-color: #fff;
			}		
		}

		&__to {
			margin: 0 auto;
			padding: 5.45% 6% 12.3% 6.2%;
			width: 70.5%;
			border: 0.3125rem solid #fff;
			background-color: #e5e5e5;
			border-radius: 0.75rem;
			font-family: 'Conv_Lato-Bold', sans-serif;
			font-size: 1.4375rem;
			color: #777777;
			margin-bottom: 5.3%;
		}
		
		&__button {
			text-align: center;

			.button {
				width: 85%;
				padding: 3.2% 10.55% 3.22% 7.95%;
				text-align: center;
			    background-color: #4eb7a8;
			    border: 1px solid #4eb7a8; 
			    box-shadow: 0 5px 0 0 #28a290;
			    color: #fff;
				font-size: 1.375rem;

					&:hover {
						background-color: #fff; 
						color: #4eb7a8;
					}
			}
		}

	}
}