.photo-block {
    display: inline-block;
    width: 9.5rem;
    height: 9.5rem;
    border: 0.5625rem solid #e5e5e5;
    background-color: #e5e5e5;
    border-radius: 50%;
    outline: none;
    &__image {
        width: 100%;
    }
    &_theme_messaging {
        position: absolute;
        width: 9.5rem;
        height: 9.5rem;
        border: 0.5625rem solid #e5e5e5;
        left: 32.4%;
        bottom: -41.2%;
    }
    &:focus {
        outline-color: rgb(77, 144, 254);
        outline-offset: -2px;
        outline-style: auto;
        outline-width: 5px;
    }
}