mixin photo-block(object)
    if object.link !== "none"
        -var theme = object.theme? "photo-block_theme_"+ object.theme : "";
        .photo-block(class=theme)
            a.photo-block__link(href=object.link target="_blank" rel="noopener noreferrer")
                img.photo-block__image(src=object.image alt="User's photo")
    else
        .photo-block
            img.photo-block__image(src=object.image alt="User's photo")