mixin arrow-button(object)
    button.arrow-button(type="button")
        span.arrow-button__arrow(class=((object.direction == "right")? " arrow-button__arrow_direction_right" : "") + ((object.state == "disabled")? " arrow-button__arrow_disabled_true" : ""))