mixin arrow-button(direction,state)
    a(class=(state=="disabled")? "theme_disabled arrow-button" : "arrow-button" href="/mock-address/change-me")
        span(class="arrow-button_direction_"+direction+"")