@button-color: #4eb7a8;
@disabled-button-color: #e5e5e5;
@button-font: #fff;
.arrow-button {
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    outline: none;
    &_direction_left {
        display: inline-block;
        width: 5.125rem;
        height: 5.125rem;
        line-height: 5.125rem;
        border: 0.3125rem solid #4eb7a8;
        border-radius: 50%;
        &::after {
            content: "";
            display: inline-block;
            vertical-align: middle;
            margin-left: 13%;
            width: 31%;
            height: 31%;
            border-top: 0.40625rem solid @button-color;
            border-right: 0.40625rem solid @button-color;
            transform: rotate(-135deg);
        }
    }
    &_direction_right {
        display: inline-block;
        width: 5.125rem;
        height: 5.125rem;
        line-height: 5.125rem;
        border: 0.3125rem solid @button-color;
        border-radius: 50%;
        &::after {
            content: "";
            display: inline-block;
            vertical-align: middle;
            margin-right: 13%;
            width: 31%;
            height: 31%;
            border-bottom: 0.40625rem solid @button-color;
            border-left: 0.40625rem solid @button-color;
            transform: rotate(-135deg);         
        }
    }
    &:hover {
        background: @button-color;
        & .arrow-button_direction_left {
            &::after {
                border-top-color: #fff;
                border-right-color: #fff;
            }
        }
        & .arrow-button_direction_right {
            &::after {
                border-bottom-color: #fff;
                border-left-color: #fff;
            }
        }
        .theme_disabled& {
            background: @button-font;
            & .arrow-button_direction_left {
            cursor: default;
            pointer-events: none;
                &::after {
                    border-top-color: @disabled-button-color;
                    border-right-color: @disabled-button-color;
                }
            }
            & .arrow-button_direction_right {
            cursor: default;
            pointer-events: none;
                &::after {
                    border-bottom-color: @disabled-button-color;
                    border-left-color: @disabled-button-color;
                }
            }
        }
    }
    .theme_disabled & {
        &_direction_left {
            background-color: @disabled-button-color;
            border: 0.3125rem solid @disabled-button-color;
            &::after {
                border-top: 0.40625rem solid #fff;
                border-right: 0.40625rem solid #fff;
            }
        }
        &_direction_right {
            background-color: @disabled-button-color;
            border: 0.3125rem solid @disabled-button-color;
            &::after {
                border-bottom: 0.40625rem solid #fff;
                border-left: 0.40625rem solid #fff;
            }
        }
    }
    a.theme_disabled& {
        cursor: default;
        pointer-events: none;
    }
    &:hover, &:active, &:focus {
        outline: none;
    }
}