@outline-color: #e75735;
@hover-bottom-color: #bf3e1f;
@background-color: #fff;

@green-outline-color: #4eb7a8;
@green-hover-bottom-color: #28a290;
@green-background-color: #fff;

.button {
  padding: 10px 35px;
  font-size: 12px;
  font-weight: bold;
  background-color: @background-color;
  border: 1px solid @outline-color;
  border-radius: 5px;
  box-shadow: 0 2px 0 0 @outline-color;
  font-family: 'Conv_Lato-Black', sans-serif;

  color: @outline-color;
  text-transform: uppercase;

  &:hover {
    background-color: @outline-color;
    color: @background-color;
    box-shadow: 0 2px 0 0 @hover-bottom-color;
    cursor: pointer;
  }

  &:active {
    transform: translateY(2px);
    box-shadow: none;
  }

  &:active, &:focus {
    outline: none;    
  }
  
  .size_small& {
    padding: 5px 17px; // height 24px
    font-size: 10px;
    border-radius: 3px;
  }

  .theme_green& {
    background-color: @green-background-color;
    border: 1px solid @green-outline-color; 
    box-shadow: 0 2px 0 0 @green-outline-color;
    color: @green-outline-color;

      &:hover {
        background-color: @green-outline-color;
        color: @green-background-color;
        box-shadow: 0 2px 0 0 @green-hover-bottom-color;

      &:active {
        transform: translateY(2px);
        box-shadow: none;
      }
      }
  }
}