mixin button(value,type,link,size,theme)
	-var size = size || "default";
	-var link = link || "#";
	if (link!=="#")
		a(href=link+"" class="button"+((size==="small")? " size_small" : "")+((theme==="green")? " theme_green" : ""))=value
	else
		button(type=type+"" class="button"+((size==="small")? " size_small" : "")+((theme==="green")? " theme_green" : ""))=value 